.update-checker-box {
    spacing: 4px;
}

.update-checker-label {
    padding-left: 2px;
    font-weight: bold;
}

.update-checker-count {
    font-weight: bold;
    padding-left: 12px;
}

.update-checker-warning-icon {
    color: #e5a50a;
    padding-left: 12px;
}

.update-checker-reboot-icon {
    padding-left: 4px;
    color: #e01b24;
}

.update-checker-run-icon {
    padding-left: 8px;
    color: #62a0ea;
}

.update-checker-updating-label {
    font-style: italic;
    opacity: 0.75;
    padding-left: 8px;
}

.update-checker-offline-icon {
    padding-left: 4px;
    opacity: 0.7;
}

.update-checker-security-icon {
    padding-left: 4px;
    color: #c01c28;
}

.update-checker-package-line {
    font-size: 90%;
    opacity: 0.75;
    padding-left: 24px;
    max-width: 340px;
}

.update-checker-status-line {
    max-width: 340px;
}
